* {
  font-family: 'Raleway', sans-serif;
}

header {
  text-align: center;
  height: 50%;
  background: #fff;
}

.nav {
  background: #fff;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.inc-tab-button {
  width: 80%;
}

.comp-tab-button {
  width: 20%;
}

.inc-tab-button a {
  background: rgb(255,142,142);
  color: black !important;
}

.comp-tab-button a {
  background: rgba(133,255,135,1);
  color: black !important;
}

.inc-tab-button a:hover, .inc-tab-button a:focus {
  background: #F4E04D !important;
  color: black !important;
}

.comp-tab-button a:hover, .comp-tab-button a:focus {
  background: #7CAFC4 !important;
  color: black !important;
}

.nav-tabs>li.inc-tab-button a {
  background: #F4E04D !important;
  color: black !important;
}

.nav-tabs>li.comp-tab-button a{
  background: #7CAFC4 !important;
  color: black !important;
}

.incompleted-ul {
  overflow: hidden;
}

.completed-ul {

}
.lists-row-container {
}

.list-container {
}

.list {
  min-height: 50vh;
}

.list li {
  font-size: 2em;
  width: 80%;
  border-radius: 10px;
  list-style-type: none;
  height: 100%;
  line-height: 1;
  float: left;
  overflow:
}

.list li p:first-of-type {
  margin-top: 15px;
}

.incomplete-list {
  background: #F4E04D;
}

.completed-list {
  background: #7CAFC4;
}

.list-item {
  align-items: center;
}

.incomplete-list .list-item {
  background-color: #7CAFC4;
  margin-top: 10px;
  min-height: 100px;
}

.completed-list .list-item {
  background-color: #F4E04D;
  margin-top: 10px;
  min-height: 100px;
}

.list li p {
  padding-right: 209px;
  min-height: 25px;
  padding-left: 15px;
}

.list-display-text {
  float: left !important;
}

.list-buttons {
  float: right !important;
  min-height: 50px;
}

.list-button {
  height: 100%;
  float: right;
}

.bottom-area {
  height: 300px;

}

.bottom-area form {
  height: 100%;

}

.entry-column {
  height: 100%;
}

.entry-row {
  height: 33%;
}

.entry-box {
  width: 100%;
  height: 100%;
}

.entry-button-container {

}

.entry-button {

}

.submit {
  height: 100%;
  width: 100%;
  font-size: 2em;
}

.submit-container {
height: 100%;

}

.save {
  height: 100%;
  width: 100%;
  font-size: 2em;
}

.submit-save-rows {
  height: 50%;
}

.btn-group {
  /* float: right; */
}

.in {

}


.no-display {
  display: none;
}
