header {
  text-align: center;
  height: 10vh;
}

.lists-row-container {
  height: 90vh;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.list-container {
  height: 70%;
}

.list {
  min-height: 25vh;
  max-height: 50vh;
}

.incomplete-list {
  background-color: red;
}

.completed-list {
  background-color: green;
}

.list-item {
  background-color: gray;
  margin-top: 10px;
  min-height: 100px;
}

.list-display-text {
  float: left;
  margin-right: 15%;
  min-height: 50px;
}

.list-buttons {
  float: right;
  min-height: 50px;
}

.list-button {
  height: 100%;
}

.bottom-area {
  height: 30%;

}

.bottom-area form {
  height: 100%;

}

.entry-column {
  height: 100%;
}

.entry-row {
  height: 33%;
}

.entry-box {
  width: 100%;
  height: 100%;
}

.entry-button-container {

}

.entry-button {

}

.submit {
  height: 100%;
  width: 100%;
}

.submit-container {
height: 100%;

}

.save {
  height: 100%;
  width: 100%;
}

.submit-save-rows {
  height: 50%;
}

.btn-group {
  /* float: right; */
}

.in {

}


.no-display {
  display: none;
}
